/* ============================================= */
/*        Header        Layout                   */
/* ============================================= */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    h1 {
        font-size: 1.75em;
    }
}